<%- include('../includes/header', {id: 'settings', user: user}) _%>
<div class="row justify-content-center">
    <div class="col-12">
        <%- include('../includes/alert') _%>
        <%- include('../includes/settings/top') _%>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-3">
        <%- include('../includes/settings/nav') _%>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="row heading">
            <h3>Profile</h3>
        </div>
        <form action="/settings/profile" method="POST" class="mb-4">
            <input type="hidden" name="_csrf" value="<%= csrf_token %>">
            <div class="row mb-2">
                <div class="col-12">
                    <label for="name" class="form-control-label fw-bold">Name</label>
                    <input id="name" name="name" type="text" value="<%= user.name %>" class="form-control" required>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <label for="email" class="form-control-label fw-bold">Email</label>
                    <input id="email" name="email" type="text" value="<%= user.email %>" class="form-control" required>
                </div>
            </div>
            <div class="button-group">
                <input type="submit" value="Update" class="btn btn-primary action-button">
            </div>
        </form>
    </div>
</div>
<%- include('../includes/footer') _%>
