{{> header id="home" user=user }}
{{#template_name}}{{/template_name}}

<div class="row justify-content-center">
    <div class="col-12">
        {{> alert }}
        <div class="box">
            {{#unless messages}}
            <div class="row box-row d-flex align-items-center">
                <div class="col-auto left fw-bold">
                Nothing yet to display.
                </div>
            </div>
            {{else}}
            {{#each messages}}
            <div data-message_id={{this.message_id}} class="row box-row d-flex align-items-center">
                <div class="col-auto left fw-bold">
                    {{this.name}}
                </div>
                <div class="col ps-1">
                    <span class="pills float-start">
                    {{#if this.active_at}}
                        <span class="badge">active</span>
                    {{/if}}
                    </span>
                </div>
                <div class="col-auto ps-1">
                    <div class="dropdown quick-actions">
                        <button type="button" title="Actions" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-light-alt float-end"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {{#if this.active_at}}
                            <li><a data-action="inactive" href="#" class="set-message-active"><i class="bi bi-eye-slash icon"></i>Set Inactive</a></li>
                            {{else}}
                            <li><a data-action="active" href="#" class="set-message-active"><i class="bi bi-eye icon"></i>Set Active</a></li>
                            {{/if}}
                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#edit-message-modal" class="edit-message"><i class="bi bi-gear icon"></i>Edit</a></li>
                            <li><a href="#" class="delete-message"><i class="bi bi-trash icon"></i>Delete</a></li>
                        </ul>
                    </div>
                </div>
                <div class="body toggle_truncate ellipsis">{{{this.body}}}</div>
            </div>
            {{/each}}
            {{/unless}}
        </div>
    </div>
</div>

{{> footer }}
