<%- include('includes/header', {id: 'home', user: user}) %>

<div class="row justify-content-center">
    <div class="col-12">
        <%- include('includes/alert') %>
        <div class="box">
            <% if (typeof messages === 'undefined') { %>
            <div class="row box-row d-flex align-items-center">
                <div class="col-auto left fw-bold">
                Nothing yet to display.
                </div>
            </div>
            <% } else { %>
            <% messages.forEach(function(message){ %>
            <div data-message_id=<%= message.message_id %> class="row box-row d-flex align-items-center">
                <div class="col-auto left fw-bold">
                    <%= message.name %>
                </div>
                <div class="col ps-1">
                    <span class="pills float-start">
                    <% if (message.active === 1) { %>
                        <span class="badge">active</span>
                    <% } %>
                    </span>
                </div>
                <div class="col-auto ps-1">
                    <div class="dropdown quick-actions">
                        <button type="button" title="Actions" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-light-alt float-end"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <% if (message.active === 1) { %>
                            <li><a data-action="inactive" href="#" class="set-message-active"><i class="bi bi-eye-slash icon"></i>Set Inactive</a></li>
                            <% } else { %>
                            <li><a data-action="active" href="#" class="set-message-active"><i class="bi bi-eye icon"></i>Set Active</a></li>
                            <% } %>
                            <li><a href="#" class="edit-message"><i class="bi bi-gear icon"></i>Edit</a></li>
                            <li><a href="#" class="delete-message"><i class="bi bi-trash icon"></i>Delete</a></li>
                        </ul>
                    </div>
                </div>
                <div class="body toggle_truncate ellipsis"><%- message.body %></div>
            </div>
            <% }); %>
            <% } %>
        </div>
    </div>
</div>

<%- include('includes/footer') %>
